/* style.css */

a {
  text-decoration: none;
}

/* 모바일 배경처리 */
@media screen and (max-width: 578px) {
  nav {
    background: #333;
    padding: 20px !important;
  }
}

.btn {
  white-space: nowrap;
}

section h2 {
  font-weight: bold;
}

/* .container, .container-fluid {
    outline: 1px solid #000;
} */

#main-title {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.918) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../images/ISS_astronaut.jpg);
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-title .title {
  height: calc(100% - 90px);
}

#main-title .title p {
  font-size: 25px;
}

#main-title .title {
  padding-top: 50px;
}

/* #main-title .title iframe {
    outline: 5px solid #fff;
} */

#community {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)),
    url("../images/cleveland_at_night.jpg");
  background-size: cover;
  /* 배경 고정 */
  background-repeat: no-repeat;
  /* background-attachment: contain; */
  background-position: center top;
  background-attachment: fixed;
}

.my-text-light {
  color: #98daf1;
}

.my-text-dark {
  color: #0b3d91;
}

/* fly with you 섹션 스타일입니다. */

#fly {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url(../images/with-you-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fly_box {
  display: block;
  width: 100%;
  position: relative;
  /* outline: 3px solid #fff; */
}

.fly_box img {
  width: 100%;
}

#fly a h4 {
  width: 100%;
  background-color: rgba(11, 61, 145, 0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  margin: 0;
}

/* ---------- footer start ---------- */
#footer {
  background: rgb(33, 33, 33);
  color: #fff;
}
#footer .footer-logo {
  display: flex;
  align-items: center;
}
#footer .footer-logo span {
  font-size: 16.5px;
  font-weight: 700;
}
#footer p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}
#footer .col-rigth {
  text-align: right;
}
#footer .footer-icon {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
#footer .footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #fff;
}
#footer .footer-icon a:first-child {
  color: rgb(59, 89, 153);
}
#footer .footer-icon a:nth-child(2) {
  color: rgb(66, 156, 214);
}
#footer .footer-icon a:nth-child(3) {
  color: red;
}
#footer .footer-icon a:nth-child(4) {
  color: rgb(193, 54, 133);
}
#footer .footer-box-right h4 {
  font-size: 24px;
  font-weight: 700;
}
#footer a {
  text-decoration: underline;
}
@media (max-width: 995px) {
  #footer .footer-logo {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .footer-logo span {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  #footer .footer-icon {
    gap: 10px;
  }
}
@media (max-width: 600px) {
  #footer .row {
    display: flex;
    flex-direction: column;
  }
  #footer .footer-box-left p {
    margin-top: 0 !important;
  }
  #footer .col-left {
    width: 100%;
  }
  #footer .col-rigth {
    margin-top: 20px;
    text-align: left;
    width: 100%;
  }
  #footer .footer-icon {
    justify-content: flex-start;
  }
}
/* ---------- footer end ---------- */
